In [1]:
num = 6
if num % 2 == 0:
    print("even")
else:
    print("Odd")

even

In [4]:
a = 6
print ("even") if num % 2 == 0 else print("Odd")

even

In [8]:
x = -5
result = "Positive" if x > 0 else "Negative"
print(result)

Negative

In [11]:
age = 18
category = "Adult" if age >= 18 else "Minor"
print(category)

Adult

In [13]:
#nested if-else in oneline using user input
num = int(input("Enter a number: "))
result = "Positive" if num > 0 else ("Negative" if num < 0 else "Zero")
print(result)

Enter a number: -8
Negative

In [14]:
#use a list comprehension
L = [1,3,2,7,34,25,9]
[2*x for x in L]

[2, 6, 4, 14, 68, 50, 18]

In [16]:
#List comprehension with if conditions
L = [1,3,23,7.442,6]
[x for x in L if x%2 == 0]

[6]

In [17]:
L = [1,2,4,63,7,3,8]
[x for x in L if x%2 != 0]

[1, 63, 7, 3]

In [23]:
#print updated salaries
#condition is given 20% hike for salaries below 50000
sal = [40000, 60000, 80000, 45000]
updated_sal = [salary * 1.2 if salary <= 50000 else salary for salary in sal]

print("Updated Salaries:", updated_sal)

Updated Salaries: [48000.0, 60000, 80000, 54000.0]

In [24]:
[(x*1.2 if x <= 50000 else x) for x in sal]

[48000.0, 60000, 80000, 54000.0]

In [29]:
#dictionary comprehension
d1 = {'Ram':[70,71,98,100], 'John':[56,98,67,65]}
d1

{'Ram': [70, 71, 98, 100], 'John': [56, 98, 67, 65]}

In [31]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 84.75, 'John': 71.5}

# user defined functions

In [32]:
#define function (reusable)
def mean_value(given_list):       #given_list = argument(one or more or none arguments can be passed to a user defined function)
    total = sum(given_list)
    avg_value = total/len(given_list)
    return avg_value

In [33]:
#Calling the function
L = [1,2,3,4,5,6,7,8,9,10]
mean_value(L)

5.5

In [40]:
def greet(name):
    print(f"Good morning {name}!")

In [41]:
greet("Akshitha")

Good morning Akshitha!

In [ ]:
def greet(name= 'Akshitha'):
    print(f"Good morning {name}!") #defined argument function here Akshitha is overwritten

In [45]:
greet("Akshu")

Good morning Akshu!

In [49]:
#variable number of arguments
def avg_value(*n):     #here * is n number of variables,the numbers supplied will be treated as tuples
    l = len(n)
    avg = sum(n)/l
    return avg

In [48]:
avg_value(10,20,30,40,500)

120.0